.App {
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-content: center;
  max-height: 100%;
  width: 80%;
  margin: 10rem;

  
}
.button{
  background-color: blueviolet;
  color: aliceblue;
  max-height: 40rem;

}